{
  "env": {
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "extends": "airbnb",
  "overrides": [
    {
      "files": ["**/*.spec.js", "**/*.spec.jsx"]
    }
  ],
  "prettier": {
    "singleQuote": true
  }
}
